*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Modifies everything in the html
*/

html, body{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #061E29;
}

/*
Modifies everything in the body
*/

nav{
    display: flex;
    background-color: #061E29;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: white;
}

/*
These are the configuration of the nav bar
*/

ul{
    list-style: none;
    
}

/*
Styles given to the lists.
*/

li{
    cursor: pointer;
    font-size: 2rem;
    display: inline-block;
    margin: 2rem;
}

/*
Sytles given to the used in html lists.
*/

section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

/*
Configuration of the sections applied in of all the sections
*/

.container1{
    margin: 0 20px;
    max-width: 1200px;
    padding-right: 20px;
}

/*
This container is the div used in section about me.
*/

.container2{
    margin: 0 20px;
    max-width: 1200px;
    font-size: 5rem;
}

/*
This container is related to the image used in about me
*/

.text1{
    font-size: 3.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 2rem;
}

/*
Styles used to normal text
*/

.text2{
    font-size: 2rem;
}

/*
Styles used in smaller text
*/

.about{
    background-color: #1D546D;
    padding: auto;
}

/*
Configurations about the section about me
*/

.contact{
    background-color: #5F9598;
    display: flex;
    align-items: center;
}

/*
Configuration used on the container contact
*/

.socialmedia{
    background-color: #00B7B5;
}

/*
Background configuration of socialmedia
*/

img{
    width: 500px;
    height: auto;
}

/*
Image of the author
*/

.container3{
    margin: 0 5px;

}

/*
Used to separate elements fro each other
*/

.text3{
    font-size: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    align-items: center;
}

/*
Text used on the center of the pages
*/

h2{
    font-size: 10rem;
}

/*
Middle title used as a subtitle
*/

.pj{
    background-color: #5F9598;
    display: flex;
   
}

/*
Background of the view projects
*/

.ppj{
    font-size: 8rem;
    position:absolute;
    height: 920px;
}

/*
Container of the images 
*/

.tel{
    font-size: 3rem;
    align-items: flex-start;
    height: -40px;
    
}

/*
Used to store contact info
*/

.nyx{
    max-height: auto;
    max-width: 400px;
    display: flex;
    align-items: center;
    margin: 15rem;
}

/*
used to store about nyx project
*/

.alias{
    font-size: 4rem;
    align-items: flex-end;
}

/*
used to store the alias
*/

.pos{
    max-height: auto;
    max-width: 400px;
    display: flex;
    align-items: center;
}

/*
related to the POS project
*/

.doc{
    max-height: auto;
    max-width: 400px;
    display: flex;
    align-items: center;
}



.git{
    display: flex;
    flex-direction:column;
    gap: -20px;
    align-items: center;
    margin: 10rem auto;
    font-size: 4rem;
}

/*
Used to store the text on the social media
*/

.text4{
    margin:7rem auto;

}

/*
Used to store the text on the social media
*/

#Social_Media{
    margin-bottom: 20rem;
}

/*
Used to store the text on the social media
*/

html {
  scroll-behavior: smooth;
}

/*
Type of HTML scrool
*/

.socialmedia{
    align-items: flex-start;
    display: flex;
    margin-bottom: 5rem;
}

/*
Used to store the text on the social media
*/




